# デフォルトの無視対象ファイル
/shelf/
/workspace.xml
#======================
#Gradle
#======================
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

#======================
#IntelliJ IDEA
#======================
.idea/
*.iml
out/

#=======================
#OSごとの不要なファイル
#=======================
.DS_Store
Thumbs.db

#========================
#javaビルド成果物
#========================
*.class
*.jar
*.war
*.ear

#========================
#ログ・一時ファイル
#========================
*.log
*.tmp
*.swp

#========================
#Spring Boot固有
#========================
bin/
